body {
  font-size: 18px;
  font-family: 'Oswald', sans-serif;
}
.header-bg {
  display: block;
  width: 100%;
  height: 152px;
  margin-bottom: 5px;
  background: #f5a52a;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#f8c473, #f5a52a);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#f8c473, #f5a52a);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#f8c473, #f5a52a);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(#f8c473, #f5a52a);
  /* Standard syntax (must be last) */
  z-index: -1;
}
.header,
.content {
  width: 1000px;
  margin: 0 auto;
}
.logo {
  display: inline-block;
  margin-top: 32px;
}
.menu {
  display: inline-block;
  float: right;
  margin-top: 32px;
}
.menu ul {
  list-style: none;
}
.menu ul li {
  float: left;
}
.menu ul li a {
  display: block;
  padding: 32px 15px;
  color: #f5a52a;
  background: #232323;
  text-decoration: none;
}
.menu ul li a:hover {
  padding: 32px 15px;
  color: #232323;
  background: #f5a52a;
}
.h1-bg {
  width: 100%;
  height: 80px;
  background: #face8b;
}
.h1-bg h1 {
  font-size: 30px;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  padding: 23px;
  text-align: center;
}
.box {
  display: inline-block;
  width: 240px;
  margin: 25px 3px;
  background: #e2e2e2;
  box-shadow: 0px 0px 1px 0 #bcbcbc;
  text-decoration: none;
}
.box:hover {
  background: #ffffff;
}
.box img {
  display: inline-block;
}
.box p {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 15px;
  color: #232323;
  display: inline-block;
  width: 120px;
  padding: 5px 0 0 5px;
  vertical-align: top;
}
.line {
  position: absolute;
  top: 98vh;
  display: block;
  width: 100%;
  background: #f5a52a;
  height: 5px;
}
